name: ci

on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
    branches:
      - main

jobs:
  build:
    name: tests
    runs-on: ubuntu-latest
    steps:

      - name: checkout repo content
        uses: actions/checkout@v2 # checkout the repository content to github runner

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10' # install the python version needed
          
      - name: install python packages
        run: |
          python -m pip install --upgrade pip
          pip install --only-binary=numba --only-binary=llmvlite -r requirements_dev.txt
          pip install .[dev] --no-deps

      - name: check formatting
        run: ruff format --check .

      - name: check linting
        run: ruff check --output-format=github .
          
      - name: execute pytest
        run: pytest test/

